<!DOCTYPE html>
<html>
  <head>
    <title>User Authetication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="main-header">
    <form action="/index" method="post"></form>
    <h1>User Authentication</h1>
    <p>Welcome to the User Authentication/Register Site</p>


    <p>Please select an option below</p>
    <p>Logon or logout to switch user</p>

    <ul>
    <a href="/auth">LOGON</a> &nbsp;  <a href="/users/logout">LOGOUT</a>
    </ul>

  </body>
</html>
