<!DOCTYPE html>
<html>
  <head>
    <title>Register New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="main-header">
        <h1>Create a new user</h1>

        <p>Enter details of the new user below</p>

            <form action="/auth" method="post">
            <label>Username: </label><input type="text" name="name">
            <br /><br /><br /><br />
            <label>Password: </label><input type="text" name="password">
            <br /><br /><br /><br />
            <label>Role: </label><input type="text" name="role">
            <br /><br /><br /><br />
            <button>Submit</button>
            </form>

    </body>
</html>